html {
    scroll-behavior: smooth;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
body {
    background-color: #fff;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: "Trip Sans Reg", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.deb_header {
    display: flex;
    justify-content: space-between;
}

.logo img {
    max-width: 188px;
    display: flex;
}

header nav ul {
    display: flex;
    line-height: 50px;
}

header nav ul li {
    flex: 2;
    align-self: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: 110px;
    padding: 0 20px;
    border: solid 2px transparent;
}

header nav ul li > i {
    margin-right: 10px;
    font-size: 20px;
}

header nav ul li:hover {
    border: 2px solid #000;
    border-radius: 10px;
    line-height: 50px;
}

button {
    width: 148px;
    height: 39px;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    align-self: center;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    outline: none;
}

button:focus {
    outline: none;
}

h1 {
    font-size: 3.5vw;
    margin-top: 40px;
    font-weight: 600;
    font-family: "Trip Sans Med", sans-serif;
}
h1 > span {
    color: #fe5d5d;
}

/* input#site-search {
    width: 250px;
    border-radius: 10px;
    border: lightgrey solid 2px;
    box-shadow: none;
    height: 40px;
} */

.search {
    display: flex;
    margin-left: 15px;
    height: 39px;
}

form.search input[type="text"] {
    font-size: 18px;
    border: 2px solid rgb(224, 224, 224);
    width: 80%;
    border-left: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

form.search button {
    width: 20%;
    background: white;
    color: black;
    font-size: 20px;
    border: 2px solid rgb(224, 224, 224);
    padding: 10px 20px 10px 15px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    align-items: center;
    display: flex;
}

form.search button:hover,
form.search input[type="text"]:hover,
form.search input[type="text"]:focus {
    outline: none;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.hidden {
    display: none;
}

.display {
    display: flex;
}

/* MODAL ET FORMULAIRE */

.modal {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.modal form {
    height: 588px;
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0 25px 0;
    border-radius: 10px;
    max-width: 500px;
    margin-top: 110px;
    z-index: 10000;
    margin: auto;
}

h6 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.modal input,
textarea {
    width: 75%;
    margin-bottom: 20px;
    outline: none;
    border: rgb(214, 214, 214) 2px solid;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.modal input[type="submit"] {
    background-color: #7359dc;
    color: white;
    width: 81%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    line-height: 20px;
    font-size: 20px;
}

.modal input[type="submit"]:hover {
    background-color: #876ee7;
}

/* ----------- */
/* SECOND MENU */

/* ------ Navigation menu ------ */
.menu {
    margin-bottom: 50px;
    display: flex;
    padding: 26px 0;
    margin: 26px 0;
}

.menu div {
    border: black solid 2px;
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 12px;
    padding-top: 16px;
    line-height: 20px;
    padding: 15px;
}

.menu div:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

.menu div:nth-child(7) {
    display: none;
}

.menu div:not(:last-child) {
    margin-right: 20px;
}

.menu div i {
    font-size: 20px;
}

/* BLOC PHOTOS */

.bloc_photos {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.bloc_photos .box1 {
    margin-right: 2px;
    flex: 2;
}
.bloc_photos .box1 img {
    width: 100%;
    background-color: #000;
    max-height: 430px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 15px 0 0 15px;
}

.bloc_photos .box2 {
    max-height: 430px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bloc_photos .box2 img {
    height: calc(50% - 1.5px);
    object-fit: cover;
    width: 100%;
    border-radius: 0 15px 0 0;
}

.bloc_photos .box2 img:nth-child(2) {
    border-radius: 0 0 15px 0;
    margin-top: 2px;
}

.bloc_photos div:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* ----------- */
/* ARIANE */

nav.ariane {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 20px;
    font-weight: 100;
    margin-bottom: 40px;
}

nav.ariane ul {
    display: flex;
}

nav.ariane ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ----------- */
/* Paris */

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: "Trip Sans Med", sans-serif;
}

.paris {
    display: flex;
}

.desc {
    font-size: 20px;
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    font-weight: 100;
    line-height: 1.2;
}
.orga {
    width: 45%;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: 100;
}

.top_orga {
    background-color: #fe5d5d;
    padding: 32px;
    border-radius: 10px 10px 0 0;
    line-height: 1.2;
}

.orga img {
    border-radius: 25px;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
    height: 220px;
}

h3 {
    font-size: 32px;
    margin-bottom: 30px;
    font-family: "Trip Sans Med", sans-serif;
}

button.voyage {
    margin-left: 0;
    margin-top: 30px;
    line-height: 40px;
}

/* ----------- */
/* CONSEILS */

h4 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-family: "Trip Sans Med", sans-serif;
    margin-top: 80px;
    margin-bottom: 42px;
}

h4:before,
h4:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: "\a0";
    background-color: #000;
    margin-right: 10px;
    margin-left: 10px;
}

h4:before {
    margin-left: -51%;
    text-align: right;
}

.conseils p {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin-bottom: 30px;
}

.conseils ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.conseils ul li {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 20px;
    flex: 1;
    border: 2px solid lightgray;
    border-radius: 10px;
    max-width: 275px;
    padding: 0 10px;
    line-height: 1.2;
    cursor: pointer;
}

.conseils ul li:hover {
    border: 2px solid black;
}

.conseils ul li img {
    height: 80px;
}

/* ----------- */
/* CAROUSSEL */

.immmanquable {
    display: flex;
    position: relative;
    margin-top: 60px;
}

.immmanquable .bloc_txt {
    background-color: #fff;
    font-weight: 100;
    padding-right: 20px;
    width: calc(100% / 4);
}

.immmanquable .bloc_txt p {
    line-height: 1.2;
    margin-top: 20px;
    font-size: 18px;
}

.immmanquable .bloc_txt a {
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
}
.caroussel {
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    height: 100%;
    min-height: 330px;
}

.caroussel div {
    background-color: white;
    flex-shrink: 0;
    width: calc(100% / 3 - (40px / 3));
}

.caroussel div:not(:last-child) {
    margin-right: 20px;
}

h5 {
    font-size: 25px;
    font-weight: bold;
}

.caroussel img {
    height: 205px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.caroussel img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.caroussel div {
    position: relative;
}
.caroussel .circle {
    display: flex;
    width: 300px;
    font-weight: 100;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}
.caroussel .circle div {
    height: 14px;
    width: 14px;
    background: #03aa6c;
    border-radius: 50%;
    margin-right: 2px;
    flex-shrink: 0;
}

.caroussel .circle span {
    margin-left: 10px;
}

.caroussel .circle p {
    width: 100px;
    margin-left: 10px;
}

.caroussel div p {
    font-weight: 100;
    line-height: 1.2;
    font-size: 14px;
    margin-top: 10px;
}

.caroussel div i {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    background-color: #fff;
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1000;
}

.caroussel div i:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.fleche {
    position: absolute;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: black solid 2px;
    right: -22px;
}

.half-circle {
    height: 14px;
    width: 14px;
    background: #03aa6c;
    border-radius: 50%;
    margin-right: 2px;
    flex-shrink: 0;
}

.half-circle::after {
    content: "";
    background-color: white;
    height: 10px;
    width: 5px;
    z-index: 1000;
    display: block;
    border-radius: 0 0 100% 100%;
    border-radius: 0 12px 12px 0;
    margin-left: 8px;
    margin-top: 2px;
}
/* ----------- */
/* FOOTER */

footer {
    margin-top: 50px;
    height: 80px;
    background-color: #f9f1ec;
    font-weight: normal;
}

footer .container {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

footer img {
    height: 60px;
}

.container .deb_header > i {
    display: none;
}

/* MEDIAS QUERY */

/* @media (min-width: 1310px) {
    main nav.subNav ul li:nth-child(7) {
        display: none !important;
    }
} */

/* @media (max-width: 1310) { */
/* main nav.subNav ul li:nth-child(7) l {
        margin-right: 20px;
    }

    /* main nav.subNav ul {
        width: calc(100% / 4);
        flex: 0 0 auto;
        flex: 1;
        margin-bottom: 20px;
    }*/

/* main nav.subNav ul li:not(:last-child) {
        margin-right: 0px;
    }

    main nav.subNav ul li {
        width: calc(25% - (60px / 4)) !important;
        margin-right: 0 !important;
    }

    main nav.subNav ul {
        flex-wrap: wrap !important;
    }*/

/* } */

@media (max-width: 1328px) {
    .menu div:nth-child(7) {
        display: flex;
    }
    .menu div:not(:last-child) {
        margin-right: 0px;
    }
    .menu div {
        min-width: calc(100% / 4 - (60px / 4));
    }
    .menu {
        flex-wrap: wrap;
    }
    .menu div:not(:nth-child(4n)) {
        margin-right: 20px;
    }
    .menu div:nth-child(-n + 4) {
        margin-bottom: 20px;
    }
}

@media (min-width: 723px) and (max-width: 1024px) {
    .paris {
        display: inherit;
    }
    .desc {
        width: 100%;
        margin-bottom: 30px;
    }

    .orga {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .orga img {
        height: auto;
        width: 50%;
        border-radius: 0 15px 15px 0;
    }

    .top_orga {
        width: 50%;
        border-radius: 15px 0 0 15px;
    }
}

@media (max-width: 1024px) {
    header nav ul li span {
        display: none;
    }

    header nav ul li {
        padding: 10px;
    }

    .caroussel div {
        width: calc(100% / 2 - (30px / 3));
    }

    .fleche {
        right: 5px;
    }

    .fleche {
        top: 48%;
        right: 0px;
    }

    .conseils ul li {
        width: 100%;
        flex: 0 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 723px) {
    .container:not(.bloc_photos) {
        padding: 0 30px;
    }

    .menu div {
        min-width: calc(100% / 2 - (60px / 2));
    }

    .menu div:not(:nth-child(odd)) {
        margin-right: 0px;
    }
    .menu div:nth-child(-n + 6) {
        margin-bottom: 20px;
    }

    header nav ul li,
    header button {
        display: none;
    }
    .deb_header {
        width: 100%;
    }

    .logo img {
        width: 160px;
    }

    .search {
        margin: 0;
    }

    form.search input[type="text"] {
        display: none;
    }

    form.search button {
        border: transparent;
        font-size: 22px;
        padding: 0;
    }

    .ariane {
        padding: 0 20px;
    }
    .paris {
        padding: 0 20px;
    }
    .immmanquable {
        display: inherit;
        width: 100%;
        max-width: 100%;
    }

    .immmanquable .bloc_txt,
    .immmanquable .bloc_txt p {
        width: 100%;
    }

    /* BLOC PARIS */

    .paris {
        display: inherit;
    }
    .desc {
        width: 100%;
        margin-bottom: 30px;
    }

    .orga {
        width: 100%;
    }

    .orga img {
        height: 200px;
        width: 100%;
        border-radius: 0 0 15px 15px;
    }

    .top_orga {
        border-radius: 15px 15px 0 0;
    }

    /* CAROUSSEL */

    .caroussel div {
        width: calc(100% / 1.2);
    }

    .caroussel img {
        height: 262px;
    }

    .bloc_photos .box1 img {
        width: 100%;
        border-radius: 0;
    }

    .bloc_photos .box2,
    .bloc_photos .box2 img {
        display: none;
    }

    main nav.subNav ul li {
        min-height: 0;
    }

    footer {
        padding: 0 20px;
    }

    .container .deb_header > i {
        display: inherit;
        font-size: 25px;
    }
}
